html {
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    margin: 10px;
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    background-color: red;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    font-family: var(--main-font-family);
    font-size: 22px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto+Slab&display=swap');

/* COLORS */

:root {
    --main-text-color: whitesmoke;
    --main-font-family: 'Roboto Slab', serif;
    --title-font-family: 'Caveat Brush', cursive;
}

/* HEADER */
header {
    width: 100%;
    font-family: var(--title-font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

#startButton {
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: var(--main-text-color);
    font-size: 32px;
}


/* LOGO */

#burgerLogo {
    max-width: 100%;
    background-size: cover;
    background-image: url(assets/images/hamburger-04-icon.png);
}

.animation-01 {
    animation: pulseBurger 2s infinite;
}

@keyframes pulseBurger {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

.animation-02 {
    animation: goToTop 3s forwards;
}

@keyframes goToTop {
    0% {max-width: 100%;}
    100% {max-width: 20%;}
}

/* NAVIGATION */

#navigationMenu {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#navigationMenu button {
    font-family: var(--main-font-family);
}

/* MAIN */

#instructions {
    text-align: center;
}

.menuField{
    padding: 10px;
    border-style: solid;
}

.choices img {
    width: 48px;
    padding: 5px;
    border-radius: 8px;
    background-color: var(--main-text-color);
    
}

/* ENd PAGE */

#bill {
    padding: 20px;
    padding-bottom: 40px;
    border-bottom: 3px dashed var(--main-text-color);
}

#cheffOrder {
    margin-top: 35px;
    padding: 5px;
    border: 1px solid var(--main-text-color);
}

#cheffOrder dt{
    font-weight: bold;

}

#cheffOrder dd{
    padding-left: 40px;
    margin-bottom: 10px;
}