html {
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*align-items: center;*/
    column-gap: 15px;
    row-gap: 15px;
    background-color: red;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* COLORS */

:root {
    --body-color: #cbcdd4;
    --body-inset-color: #dbdde2;
    --display-color: #4deca0;
    --display-color-op2: #d1e7ac;
}

/* HEADER */
header {
    width: 100%;
    font-family: 'Caveat Brush', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

#startButton {
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: whitesmoke;
    font-size: 32px;
}


/* LOGO */

#burgerLogo {
    max-width: 100%;
    background-size: cover;
    background-image: url(assets/images/hamburger-04-icon.png);
}

.animation-01 {
    animation: pulseBurger 2s infinite;
}

@keyframes pulseBurger {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

.animation-02 {
    animation: goToTop 3s forwards;
}

@keyframes goToTop {
    0% {max-width: 100%;}
    100% {max-width: 20%;}
}